.wrapper {
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px auto 100px;
  gap: 5px;
  min-height: 96vh;
  align-content: stretch;
  grid-template-areas: "header header header"
    "main main main"
    "footer footer footer";

  /* justify-content: space-evenly;
  align-content: space-evenly; */
  /* align-items: stretch; */
  padding: 10px;

  box-shadow: inset -3px -3px 7px #ffffff73,
    inset 3px 3px 5px rgba(94, 104, 121, .228);
}

.main {
  grid-area: main;
  background: #dde1e7;
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
  display: grid;
  grid-template-areas: "lsb content rsb";
  grid-template-columns: minmax(60px, 200px) 1fr minmax(60px, 200px);
}

.footer {
  grid-area: footer;
  background: #dde1e7;
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .228);
  display: grid;
}